[submodule "repair-design-project"]
	path = repair-design-project
	url = https://github.com/Ogeidy/repair-design-project.git
[submodule "theyalow"]
	path = theyalow
	url = https://github.com/Ogeidy/theyalow.git
[submodule "singolo"]
	path = singolo
	url = https://github.com/Ogeidy/singolo.git
